@import "../../global/style";

nav.header {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  // horizontal spacing
  padding: 3rem 6rem;
  @media screen and (max-width: 900px) {
    & {
      padding: 1rem;
    }
  }

  // flex properties
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 730px) {
    flex-direction: column;
  }

  // logo with toggle button on small screens
  .logo-outer {
    .nav-toggler {
      display: none;

      background: inherit;
      border: none;
      outline: none;
    }
    @media screen and (max-width: 500px) {
      &.is-toggled {
        position: fixed;
        top: 0;
        left: 0;
        padding: 2rem;
      }
      align-self: flex-start;
      padding: 1rem;
      width: 100%;
      z-index: 1;

      display: flex;
      justify-content: space-between;
      align-items: center;
      .nav-toggler {
        display: inline;
      }
    }
  }

  .nav-options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 2rem;
    @media screen and (max-width: 900px) {
      column-gap: 1rem;
    }
    @media screen and (max-width: 500px) {
      background: hsl(0, 0%, 7%);
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;
      transition: top 1s;

      position: fixed;
      left: 0;
      width: 100%;
      height: 100vh;
      padding: 1rem;
      &.is-toggled {
        top: 0;
      }
      &:not(.is-toggled) {
        // position: fixed;
        top: -100vh;
      }

      a {
        @include font-sans-serif;
        font-size: 2.5rem;
      }
    }

    .nav-option {
      text-decoration: none;
      color: #fff;

      // // overwrite custom hr when the page is active
      // &.router-link-active::after,
      // &.router-link-active:hover::after {
      //   width: 100%;
      //   height: 2px;
      // }
      @include customhroverride;
    }
  }

  .logo {
    width: 14rem;
    @media screen and (max-width: 500px) {
      width: 10rem;
    }
  }
}
