#bottom {
  // background: #f00;
  position: relative;
  top: -4px;
  height: calc(100% + 4px);

  .bottom-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;

    @media screen and (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    @media screen and (min-width: 500.1px) and (max-width: 1000px) {
      height: 40vh;
    }
  }
}
