.our-worlds-card {
  .location-image {
    width: 100%;
  }

  .data {
    margin-top: 0.5rem;

    .text {
      font-size: 0.9rem;
    }

    .subtext {
      font-size: 0.85rem;
      color: #777;
    }
  }
}
